<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Heroku"
            id="Heroku">
      </category>
      <view
            name="MyApps"
            icon="icons/heroku_logo.jpg"
            category="Heroku"
            class="heroclipse.views.MyAppsView"
            id="heroclipse.views.MyAppsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="heroclipse.views.MyAppsView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page class="heroclipse.preferences.HerokuPreferencesPage"
            id="Heroclipse.page1"
            name="Heroku">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="heroclipse.editors.AppInfoEditorMaster"
            id="heroclipse.editors.AppInfoEditor"
            name="Manage Heroku App">
      </editor>
      <editor
            class="heroclipse.editors.HerokuAppEditor"
            extensions=".heroku"
            icon="icons/sample.gif"
            id="heroclipse.editors.HerokuAppEditor"
            name="Heroku App Info">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               commandId="heroclipse.commands.MyApps"
               id="Heroclipse"
               label="Heroku"
               mnemonic="H">
            <command
                  commandId="heroclipse.commands.MyApps"
                  icon="icons/heroku_logo.jpg"
                  id="heroclipse.commands.MyApps"
                  mnemonic="A"
                  style="push">
            </command>
         </menu>
         <toolbar
               id="Heroclipse.toolbars.main"
               label="Heroclipse">
            <command
                  commandId="heroclipse.commands.MyApps"
                  icon="icons/heroku_logo.jpg"
                  id="heroclipse.toolbar.MyApps"
                  mnemonic="H"
                  style="push"
                  tooltip="View your apps on Heroku">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:heroclipse.views.MyAppsView">
         <command
               commandId="heroclipse.commands.ViewAppInfo"
               label="App Info"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="heroclipse.commands.category.MyApps"
            name="Heroclipse">
      </category>
      <command
            category="heroclipse.commands.category.MyApps"
            id="heroclipse.commands.MyApps"
            name="My Apps">
      </command>
      <category
            id="heroclipse.commands.category.AppInfo"
            name="Heroclipse">
      </category>
      <command
            category="heroclipse.commands.category.AppInfo"
            id="heroclipse.commands.ViewAppInfo"
            name="App Info">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="heroclipse.handlers.MyAppsHandler"
            commandId="heroclipse.commands.MyApps">
      </handler>
      <handler
            class="heroclipse.handlers.ViewAppInfoHandler"
            commandId="heroclipse.commands.ViewAppInfo">
      </handler>
   </extension>

</plugin>
